@{
    Layout = null;
}

<!DOCTYPE html>
<html>
  <head>
    <title>About | Toy App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      This is a sample web site built with ASP.NET MVC.
    </p>
  </body>
</html>
