@{
  ViewBag.Title = "About";
}

<h1>About</h1>
<p>
  This is a sample web site built with ASP.NET MVC.
</p>
    
<img src="https://41.media.tumblr.com/7bbb1c567c97e5fd2e09f1744bd40070/tumblr_nudv9gdHbd1urkw1xo1_500.jpg" alt="" />
