@{
    Layout = null;
}

<!DOCTYPE html>
<html>
  <head>
    <title>Help | Toy App</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Get help on the ASP.NET MVC at the
      <a href="http://www.asp.net/">ASP.NET website</a>.
    </p>
  </body>
</html>
