@{
    Layout = null;
}

<!DOCTYPE html>
<html>
  <head>
    <title>Home | Toy App</title>
  </head>
  <body>
    <h1>Toy App</h1>
    <p>
      This is the home page for the toy application.
    </p>
  </body>
</html>
