<footer class="footer">
  <small>
    Toy App. Copyright mumbo jumbo.
  </small>
  <nav>
    <ul>
      <li>@Html.ActionLink("About", "About", "StaticPages")</li>
      <li>@Html.ActionLink("Contact", "Contact", "StaticPages")</li>
      <li><a href="http://www.asp.net/whats-new">News</a></li>
    </ul>
  </nav>
</footer>
