<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    @Html.ActionLink("toy app", "Home", "StaticPages", null, new { id = "logo" })

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Home", "Home", "StaticPages")</li>
        <li>@Html.ActionLink("Help", "Help", "StaticPages")</li>
        <li><a href="#">Log in</a></li>
      </ul>
    </nav>
  </div>
</header>
