<!DOCTYPE html>
<html>
  <head>
    <title>@ViewBag.Title | Toy App</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
  </head>
  <body>
    @Html.Partial("_Header")
    <div class="container">
      @RenderBody()
      @Html.Partial("_Footer")
    </div>
  </body>
</html>
